body {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.in-bl {
    display: inline-block;
    vertical-align: top;
}

.txt-ctr {
    text-align: center;
}

.main-page {
    margin: 80px 0 0;
}

.ui.menu {
        background: #fff;
        position: fixed;
        width: 100%;
        top: 0;
}

.img-xs {
    max-width: 250px;
}

.img-sm {
    max-width: 450px
}

.img-md {
    max-width: 700px
}

.img-lg {

}

.img-xl {
    
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}


  .last.txt {
    margin: 10px 5px 0;
    text-shadow: 0px 1px #000;
  }

  .last.danger {
    color: #c21808;
  }

  .last.success {
    color: forestgreen;
  }

  .error-message {
    color: maroon;
    background: pink;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }