h3 {
    margin-top: 0;
}

.plan-card {
    width: 100%;
    margin: 10vw auto;
    box-sizing: border-box;
    padding: 5vw 1vw 7vw;
    border-radius: 10px;
}

.plan-title {
    text-decoration: underline;
}

.plan-img {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    margin: 1vw auto 5vw;
}

.plan-card-light {
    background: #dce3ff;
    border: 5px solid #838696;
}

.plan-card-dark {
    background: #838696;
    color: #fff;
    border: 5px solid black;
}

.txt {
    margin: 10px auto 0;
    padding-left: 4vw;
}